
*,
*::before,
*::after {
    font-family:'Times New Roman', Times, serif; 
    box-sizing: border-box;
    
}
body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    height: 100%;
}
.code-title {    
    display: flex;
    font-weight: bolder;
    font-size: 2.7rem;    
    text-align: center;
    position: relative;
    justify-content: center;
}

.divided {
    padding-top: 35px;
}
.container {
    background-color: rgba(213, 201, 245, 0.418);
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.game-box {
    background-color: #eeeeee;
    box-shadow:  0 0.4rem 1.4rem 0 rgb(23, 3, 36);
} 

.quiz-questions {
    height: auto;
    width: 80%;
}
.question-text {
    color: indigo;
    font-size: 1.5rem;
}

.btnstart {
    display : flex;
    align-items: center;
}
.btn-primary {
    background-color: indigo;
    color: white;
    height: 50px;
    border-radius: 6px;
    border: none;
    font-size: 25px;
    width: fit-content;
   
}
.btn-primary:hover {
    cursor: pointer;
    background-color: rgb(31, 73, 189);
    transform: scale(1.03);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(23, 3, 36);
}

.form-control {
    display: flex;
    height: 50px;
    max-width: 400px;
    margin-left: 40px;
}
.header {
    display: grid;  
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.input-group {
    display: flex;
    justify-content: center;
}
#info {
    font-size: 1.5rem;
    display: flex;
}

#start-button {
    background-color: rgb(76, 9, 124);
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;    
    display: inline-block;
    width: 20rem;   
    font-size: 2.4rem;
    text-align: center;
    align-items: center;
    height: 75px;
}
#start-button:hover {
    cursor: pointer;
    background-color: rgb(76, 9, 124);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(23, 3, 36);
    transform: scale(1.03);
}

#score {
    position: relative;
    font-size: 25px;
}
#btnScore {
    display: flex;
   
    text-align: center;
    align-items: center;
    justify-content: center;
}
