
*,
*::before,
*::after {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    
}
body,html {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    height: 100%;
}
.code-title {
    font-weight: bolder;
    align-items: center;
    text-align: center;
    position: relative;
}
.container {
    background-color: rgb(212, 196, 238);
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.game-box {
    background-color: #eeeeee;
    box-shadow:  0 0.4rem 1.4rem 0 rgb(23, 3, 36);
}
#title-item {
    background-color: #eeeeee;
    color: indigo;
 /*   width: 90%;
    display: inline-block;
    border-radius: 10px;
    padding: 3px; */
}


.btn-start {
    background-color: rgb(76, 9, 124);
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
    width: 20rem;   
    font-size: 2.4rem;
    text-align: center;
    align-items: center;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(76, 9, 124);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(23, 3, 36);
    transform: scale(1.03);
}


.quiz-questions {
    color
}